version: "3.9"

services:
  nextjs:
    build:
      context: .
      args:
        NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: ${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
        CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}
    container_name: sommaire-nextjs
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
  postgres:
    image: postgres:16
    container_name: sommaire-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sommaire_ai
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
